.SkillsContainer{
    width: 100%;
    background-color: var(--preto);
    color: var(--branco);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.todasSkills{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}