.SkillsContainer{
    width: 100%;
    padding: 10rem 0;
    background-color: var(--branco);
    color: var(--branco);
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.tituloSkills h1{
    font-size: 3em;
    text-align: center;
    color: var(--preto);
}

.tituloSkills h2{
    font-weight: lighter;
    font-style: italic;
    color: var(--preto);
    font-size: 1.1em;
}

.todasSkills{
    width: 80%;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
}

.soft,
.hard{
    width: 80%;
    display: flex;  
    flex-direction: column;
    align-items: center;
}

.soft h2,
.hard h2{
    margin: 2rem 0 0 0;
    font-size: 2.5em;
    color: var(--azul);
}

.softSkills,
.hardSkills{
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.softSkills li,
.hardSkills li{
    padding: 0.25rem;
    margin: 0.25rem;
    border: 1px solid var(--preto);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.softSkills li h4,
.hardSkills li h4{
    font-size: 1.25em;
    font-weight: lighter;
    color: var(--azulPreto);
}

.softSkills li span svg,
.hardSkills li span svg{
    font-size: 1.75em;
    margin: 0 0.25rem 0 0.5rem;
    color: var(--preto);
}

@media screen and (max-width:768px){
    .SkillsContainer{
        flex-direction: column;
    }

    .tituloSkills{
        text-align: center;
    }

    .todasSkills{
        margin: 3rem 0;
    }
    
    .softSkills li,
    .hardSkills li{
        width: 100%;
        justify-content: space-between;
    }

    .softSkills li h4,
    .hardSkills li h4{
        font-size: 1em;
    }

}