.projectsContainer{
    width: 100%;
    padding: 10rem 0;
    background: linear-gradient(to bottom, var(--azulPreto), var(--preto));
    color: var(--branco);
    display: flex;
    align-items: center;
    justify-content: space-around;
    z-index: 100;
}

.tituloProjects{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tituloProjects,
.listaProjetos{
    width: 60%;
}

.tituloProjects h1{
    font-size: 3em;
    font-family: 'Gilroy-Light';
    font-weight: lighter;
}

.tituloProjects h2{
    font-size: 1rem;
    font-family: 'Gilroy-Light';
    font-weight: lighter;
    color: var(--cinzaClaro);
}

.listaProjetos{
    list-style-type: none;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
}

.listaProjetos li{
    width: 35%;
    margin: 0.25rem;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    border: 1px solid var(--ciano);
}

.listaProjetos li .tituloLI{
    padding: 0.5rem;
}

.listaProjetos li .tituloLI h3{
    font-size: 1em;
    font-weight: bold;
}

.listaProjetos li .tituloLI h4{
    max-width: 70%;
    font-size: 0.75em;
    padding: 0.5rem 0;
    font-weight: lighter;
    font-style: italic;
    color: var(--cinzaClaro);
}

.listaProjetos li .tituloLI h5 svg,
.listaProjetos li .linksLI span svg{
    font-size: 2rem;
    color:var(--branco);
}

.listaProjetos li .linksLI{
    padding: 0.5rem;
}

.listaProjetos li .linksLI span svg{
    cursor: pointer;
    transition: 0.15s ease;
}

.listaProjetos li .linksLI span svg:hover{
    color: var(--ciano);
    transform: scale(1.05);
}

.listaProjetos li .linksLI span svg:active{
    color: var(--cinzaClaro);
    transition: 0.2ms ease;
    transform: scale(0.95);
}

@media screen and (max-width:1100px){
    .listaProjetos li{
        flex-wrap: wrap;
    }
}

@media screen and (max-width:768px){
    .projectsContainer{
        flex-direction: column;
    }

    .tituloProjects{
        margin: 3rem 0;
    }

    .listaProjetos li{
        width: 100%;
        flex-wrap: nowrap;
    }
}