.projectsContainer{
    width: 100%;
    padding: 10rem 0;
    background-color: #fff;
    color: var(--branco);
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    z-index: 100;
}

.tituloProjects{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 0 1rem 0;
}

.tituloProjects,
.listaProjetos{
    width: 100%;
}

.tituloProjects h1{
    font-size: 3em;
    font-family: 'Gilroy-Light';
    font-weight: lighter;
    color: var(--azulEscuro);
}

.tituloProjects h2{
    font-size: 1rem;
    font-family: 'Gilroy-Light';
    font-weight: lighter;
    color: var(--azulPreto);
}

.listaProjetos{
    list-style-type: none;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
}

.listaProjetos li{
    width: 25%;
    height: 300px;
    padding: 0.5rem;
    margin: 0.25rem;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--preto);
    flex-direction: column;
    box-shadow: 1px 1px 5px rgba(0,0,0, 0.25);
    transition: 0.2s ease;
}

.listaProjetos li:hover{
    box-shadow: 1px 1px 5px rgba(0,0,0, 0.5);
}

.listaProjetos li .tituloLI{
    padding: 0.5rem;
}

.listaProjetos li .tituloLI h3{
    font-size: 2em;
    font-weight: normal;
    color: var(--azulEscuro);
}

.listaProjetos li .tituloLI h4{
    font-size: 0.85em;
    padding: 0.5rem 0;
    font-weight: lighter;
    font-style: italic;
    color: var(--cinzaEscuro);
}

.listaProjetos li .tituloLI h5 svg{
    width: 100%;
    display: flex;
    font-size: 5rem;
    align-items: center;
    margin: 0 0 1rem 0;
}

.listaProjetos li .linksLI span svg{
    font-size: 1.75rem;
}

.listaProjetos li .tituloLI h5 svg,
.listaProjetos li .linksLI span svg{
    color:var(--preto);
}

.listaProjetos li .linksLI{
    padding: 0.5rem;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.listaProjetos li .linksLI a{
    text-decoration: none;
}

.listaProjetos li .linksLI a button{
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 1.25em;
    padding: 0.25rem;
    border-radius: 10px;
    border: 1px solid var(--preto);
    margin: 0.25rem 0;
    outline: 0;
}

.listaProjetos li .linksLI a button svg{
    margin: 0 0.25rem;
}

@media screen and (max-width:1180px){
    .listaProjetos li{
        width: 40%;
    }

}

@media screen and (max-width:768px){
    .tituloProjects{
        margin: 3rem 0;
    }

    .listaProjetos li{
        width: 70%;
    }

    .listaProjetos li .tituloLI h3{
        font-size: 1.5em;
    }
    
    .listaProjetos li .tituloLI h4{
        font-size: 0.75em;
    }

    .listaProjetos li .linksLI a button{
        margin: 0.10rem 0;
        font-size: 1em;
    }
    
    .listaProjetos li .linksLI a button svg{
        margin: 0 0.25rem;
    }
}