.editAboutMeContainer{
    width: 100%;
    height: 100%;
    padding: 2rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(to top, #2d2c2e ,#02000a);
}

.titleButtonsContainer{
    display: flex;
    justify-content: center;
}

.titleButtonsContainer a button{
    text-decoration: none;
    font-size: 2em;
    color: #000;
    font-family: 'Poppins';
}

.titleButtonsContainer button{
    margin: 1rem 1.5rem;
    cursor: pointer;
    padding: 1rem;
}

.editAboutMeContainer ul{
    list-style-type: none;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.editAboutMeContainer ul li{
    margin: 0.5rem 0;
}

.editAboutMeContainer ul h4{
    width: 100%;
    text-align: center;
    text-decoration: underline;
    font-size: 3em;
    color: #ccc;
    font-weight: normal;
    font-family: 'Poppins';
    margin: 0.75rem 0;
    text-align: center;
}