.aboutmeContainer{
    width: 100%;
    background-color:var(--branco);
    padding: 10rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tituloAboutme{
    width: 50%;
}

.tituloAboutme h1{
    font-size: 2.75em;
    color: var(--preto);
}

.tituloAboutme h2{
    font-size: 1em;
    color: var(--azulEscuro);
    font-style: italic;
    font-weight: lighter;
}

.listaAboutme{
    width: 50%;
    list-style-type: none;
}

.listaAboutme li{
    margin: 3rem 0;
}

.listaAboutme li .primeiraDescricao{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.experiencia,
.biografia{
    margin: 1rem 0;
}

.experiencia h2,
.biografia h2{
    font-size: 1.25em;
    color: var(--azulPreto);
    font-weight: normal;
}

.experiencia p,
.biografia p{
    width: 90%;
    font-size: 0.9em;
    margin: 0.5rem 0;
    color: var(--cinzaEscuro);
}

.segundaDescricao{
    margin: 1rem 0;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.cargo,
.cursando,
.interesse,
.trabalhando{
    width: 50%;
    margin: 0.25rem 0;
}

.cargo h2,
.cursando h2,
.interesse h2,
.trabalhando h2{
    font-size: 1em;
    color: var(--azulPreto);
}

.cargo p,
.cursando p,
.interesse p,
.trabalhando p{
    font-size: 0.75em;
    color: var(--cinzaEscuro);
    font-weight: lighter;
    font-style: italic;
    margin: 0.25rem 0;
}

@media screen and (max-width:768px){
    .tituloAboutme,
    .listaAboutme{
        width: 85%;
    }

    .primeiraDescricao,
    .segundaDescricao{
        width: 100%;
        flex-direction: column;
        align-items: center;
    }

    .cargo,
    .cursando,
    .interesse,
    .trabalhando{
        width: 100%;
    }

}