section{
    width: 100%;
    background-color: var(--branco);
    padding: 10rem 0 2rem 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.tituloSection{
    z-index: 10;
}

.tituloSection h1{
    font-family: 'Gilroy-Light';
    font-size: 2.75rem;
    color:var(--preto);  
    font-weight: lighter;  
    text-transform: capitalize;
}

.tituloSection h1 span:nth-of-type(2) i{
    font-style: normal;
    color: var(--ciano);
    font-weight: bold;
}

.tituloSection h1 span:nth-of-type(3){
    font-family: 'Gilroy-Medium';
}

.tituloSection h2{
    margin:1.5rem 0;
    font-size: 1.1rem;
    color: var(--cinzaEscuro);
    font-family: 'Gilroy-Light';
    font-weight: lighter;
    font-style: italic;
}

.tituloSection .socialMediasSection{
    display: flex;
    align-items: center;
}

.tituloSection .socialMediasSection a{
    color: var(--azulEscuro);
}

.tituloSection .socialMediasSection a svg{
    font-size: 2em;
    margin: 0 0.5rem 0 0;
}

.tituloSection button:hover{
    background-color: var(--cinzaClaro);
}

.tituloSection button:active{
    transition: 0.15ms;
    background-color: var(--cinza);
    color: #fff;
    border: 1px solid var(--preto);
}

.circulo{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(10, 102, 194, 0.5);
    clip-path: circle(500px at right 100px);
    z-index: 1;
}

@media screen and (max-width:768px){
    .tituloSection h1{
        font-size: 1.75em;
    }

    .tituloSection h2{
        font-size: 0.85em;
    }

    .tituloSection button{
        font-weight: 1em;
    }

    .circulo{
        clip-path: circle(300px at right 100px);
    }
}