footer{
    width: 100%;
    border-top: 1px solid var(--azulEscuro);
    background-color: var(--preto);
    padding: 1rem;
}

footer h1{
    font-size: 2em;
    color: var(--branco);
    font-weight: lighter;
    text-align: center;
}

footer h1 span{
    color: var(--ciano);
}