@import url('https://fonts.googleapis.com/css2?family=Neuton:wght@200;400;700&family=Source+Sans+Pro:wght@200;400;700&family=Taviraj:wght@100;200;300;400;700&display=swap');

/* 
#9d00c6
#b100cd
#540261
#ca00ff
#4c00b0
#210e42
#0d2173
#0a66c2
#01ffff
#2d2c2e
#02000a 
#e0dede
*/

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Source Sans Pro','Neuton','Taviraj', Arial, Helvetica, sans-serif;
}
